/* Remove padding and margin */ 
*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

.clear 
    { 
    clear:both; 
} 

.right 
    { 
    float: right; 
} 

.left 
    { 
    float: left; 
}

body 
{ 
    margin: 0;
  	padding: 0;
    color: #000000;
    height: 100%;
    width: 100%;
    font-family: 'Georgia', serif;
    font-size: 12px;
    text-align: center;     
} 